@import url(https://fonts.googleapis.com/css?family=Oleo+Script);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
img {
  width: 100%; }

body {
  font: 15px "Open Sans Condensed", sans-serif;
  color: #3a3a3a;
  background: #2a2a2a;
  margin: 10px;
  image: "(max-width:1242px) and (min-width: 320)" "(min-width: 1024px) and (max-width: 2048px)" "(max-width: 1440px)"; }

.containDiv {
  background: #eef2f1;
  padding: 15px;
  margin: 40px;
  box-shadow: 3px 3px 6px -3px #d8d8d8; }

.title {
  font: 30px "Oleo Script", cursive;
  border-radius: 20px;
  background: #f58206;
  position: relative;
  padding: 15px; }

.title:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  z-index: 1;
  bottom: -16px;
  position: absolute;
  pointer-events: none;
  border-color: rgba(175, 199, 213, 0);
  border-top-color: #f58206;
  border-width: 10px;
  left: 23px; }

a {
  color: #4c4c4c;
  text-decoration: none; }

a:visited {
  color: #4c4c4c;
  text-decoration: none; }

a:hover {
  color: #a4acac;
  font: 25px; }

h3 {
  font: 20px;
  margin: 2px; }
