@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
$font-stack: 'Lobster', cursive;
$font: 'Open Sans Condensed', sans-serif;;
$mainColor: salmon;

h2{
  font:30px $font-stack;
}

body{
  font: 20px $font;
  color: #3a3a3a;
  margin: 80px;
  background: #c9eded;
  a{
    color: #4c4c4c;
    text-decoration: none;
  }
  a:visited{
    color: #4c4c4c;
    text-decoration: none;
  }
  a:hover{
    color: #a4acac;
    font: 25px;
  }
}


// ul{
//   li {
//     color: lighten($mainColor, 50%);
//   }
//   a:hover{
//   color: darken($mainColor, 25%);
//   }
// }