@import url(https://fonts.googleapis.com/css?family=Oleo+Script);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
$font-stack: 'Oleo Script', cursive;
$font: 'Open Sans Condensed', sans-serif;

$phone: "(max-width:1242px) and (min-width: 320)";
$tablet: "(min-width: 1024px) and (max-width: 2048px)";
$surface: "(max-width: 1440px)";

figure.fluidratio{

  // @include fluid-ratio(800px 200px, 300px 150px);
  // padding-top: 10%;
  min-height: 120px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-origin: content-box;
  padding-bottom: 4px;
  box-sizing: border-box;
  background-size: contain;
  margin: 0;
  background-image: url('../images/newreddithalloween.png');
}

body{
  font: 15px $font;
  color: #3a3a3a;
  background: #2a2a2a;
  margin: 10px;
  image: $phone $tablet $surface;
}
  .containDiv{
    background: #eef2f1;
    padding: 15px;
    margin: 40px;
    box-shadow: 3px 3px 6px -3px #d8d8d8;
  }

  .title {
  font:30px $font-stack;
  border-radius: 20px;
  background: #f58206;
  position: relative;
  padding: 15px;
  margin: 20px;
  }

  .title:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    z-index: 1;
    bottom: -16px;
    position: absolute;
    pointer-events: none;
    border-color: rgba(175, 199, 213, 0);
    border-top-color: #f58206;
    border-width: 10px;
    left: 23px;
  }

  a{
    color: #4c4c4c;
    text-decoration: none;
  }
  a:visited{
    color: #4c4c4c;
    text-decoration: none;
  }
  a:hover{
    color: #a4acac;
    font: 25px;
  }
  .date{
    font: 20px;
    margin: 2px;
  }

  button.accordion{
    background: #eef2f1;
    color: #3a3a3a;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  button.accordion.active, button.accordion:hover{
    background-color: #eef2f1;
  }

  div.containPara.panel{
    padding: 0 18px;
    background-color: #eef2f1;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
  }

  div.containPara.panel.show{
    opacity: 1;
    max-height: 500px;
  }

  button.accordion:after{
    content: '+';
    font-size: 13px;
    color: #3a3a3a;
    float: right;
    margin-left: 5px;
  }

  button.accordion.active:after{
    content: "-";
  }
